
	body {
		margin:0;
		padding-top:75px;
		font-family: 'PT Sans', arial;
		font-style: normal;
		overflow-y: hidden;
		}

	#header{
		margin-top:-75px;
		margin-left: 5px;
	}
	.jk-logo{
		max-height: 75px;
		float: left;
		padding-right: 10px
	}
	#host-button{
		margin-top:-60px;
		margin-right: 50px;
		right: 25px;
		float:right;
		border-radius: .5px;
	}

	.btn-danger:hover {
		color: #fff;
	    background-color: #AC162C;
	    border-color: #AC162C;
	}


	#map {
		top:75px;
		position: absolute;
		bottom: 0;
		width: 100%;
	}

	.map-overlay {
		z-index: 9999;
		font: 10px/25px;
		position: absolute;
		width: 325px;
		top: 75px;
		right: 0;
		/*opacity: 0.9;*/
		/*height: 410px;*/
		overflow-y: auto;
	}

	.map-overlay .map-overlay-inner {
		background-color: #fff;
		box-shadow:0 1px 2px rgba(0, 0, 0, 0.10);
		border-radius: 3px;
		padding: 10px;
		margin-bottom: 10px;
	}

	.filtermenu{
		position: -webkit-sticky;
		position: sticky;
		top: 0px
		z-index:9999;
	}

	.subHeader{
		font-size:14px;
		text-transform: uppercase;
	}

	label.subHeader{
		font-size:12px;
		text-transform: uppercase;
		color: gray;
	}

	form{
		padding-bottom: 5px
	}
	.sortby{
		padding: 0.175rem .175rem;
	}
	.zipcode{
		width: 120px;
	}
	.distance{
		width:70px;
		padding: 0.175rem .175rem;
	}




	.category{
		display:inline-block;
		border-radius: 1px;
		padding-right:15px;
		padding-left: 15px;
		opacity: .9;
		background: black;
		text-transform: capitalize;
		color:white;
	}
	.popup-category{
		display:inline-block;
		border-radius: 1px;
		padding-right:15px;
		padding-left: 15px;
		opacity: .5;
		color:white;
	}

	.col > label{
		line-height: 0.5 rem !important;
		margin-bottom: 0px;
		cursor: pointer;
	}

	a:hover {text-decoration: none}

	#eventName_on_card{
		color:#AF1E23
	}
