{% extends "base.html" %}
{% block content %}
<style type="text/css">
  .mainblock{
	margin-left: 20px
  }

</style>


 <div class="mainblock">
	<h2 align="center" ">Host an activity for Jane Kim</h2>
	<p stye='text-align: left !important'>The best way to help Jane get elected is through local actions together. Feel free to host an event by filling in form below. Let us know if you have any questions or issues.


	<!--     <div class="form-group">
		<label for="first_name">Name:</label>
		<input type="text" class="form-control" id="first_name" name="first_name" placeholder="First name">
		<br>
		<label for="last_name">Name:</label>
		<input type="text" class="form-control" id="last_name" name="last_name" placeholder="Last name">
		<br>
		<label for="email">Email:</label>
		<input type="text" class="form-control" id="email" name="email" placeholder="Your email will be used to contact you.">
		<br>
		<label for="phone">Phone:</label>
		<input type="phone" class="form-control" id="phone" name="phone" placeholder="Enter a phone.">


	  </div>
	  <button type="submit" class="btn btn-success">Sign Up</button> -->


	<!--   </form>
	<form action="" method="post" data-toggle="validator" role="form">
	<div class="form-group has-feedback">
	  <label for="host_name" class="control-label ">Host Name</label>
	  <input type="text" class="form-control" id="host_name" placeholder="Host Name" required>
	  <label for="last_name" class="control-label">Last Name</label>
	  <input type="text" class="form-control" id="last_name" placeholder="Last Name" required>
	  <label for="host_email" class="control-label">Host Email</label>
	  <input type="text" class="form-control" id="host_email" pattern="[A-Za-z0-9]+@[A-Za-z0-9]+.[A-Za-z0-9]+{1,}$" placeholder="Email" required>
		<label for="host_phone" class="control-label">Host Phone</label>
	  <input type="text" class="form-control" id="host_phone" pattern="[0-9]+{,11}" placeholder="Phone" required>
	</div>
	</form>
	-->

	<form class="needs-validation" validate action="" method="post" role="form">

	<div class="form-row">
	  <div class="col-sm-5 mb-4 mt-2">
		<label for="host_name">Name of Host</label>
		<input type="text" class="form-control" name="host_name" id="host_name" placeholder="Host name" value="" required>
		<div class="valid-feedback">
		  Looks good!
		</div>
	  </div>
	  <div class="col-sm-4 mb-4 mt-2">
		<label for="validationCustomUsername"> Email</label>
		<div class="input-group">
		  <input type="email" class="form-control" name="email" id="email" placeholder="Email" aria-describedby="inputGroupPrepend" required>
		  <div class="invalid-feedback">
			Please choose a email.
		  </div>
		</div>
	  </div>
	  <div class="col-sm-2 mb-4 mt-2">
		<label for="phone">Phone</label>
		<div class="input-group">
		  <input type="phone" class="form-control" name="phone" id="phone" placeholder="Phone #" aria-describedby="inputGroupPrepend">
		</div>
	  </div>
	</div>


	<div class="form-row">
	  <div class="col-sm-4 mb-4 mt-2">
		<label for="event_name">Name of Event</label>
		<input type="text" class="form-control"  name="event_name" id="event_name" placeholder="Event name" required>
		<div class="valid-feedback">
		  Looks good!
		</div>
	  </div>

	  <div class="col-sm-2 mb-4 mt-2">
		<label for="event_date">Event Date</label>
		<div class="input-group">
		  <input type="date" class="form-control" name="event_date" id="event_date" placeholder="Phone #" aria-describedby="inputGroupPrepend" required>
		  <div class="invalid-feedback">
			Please choose a date.
		  </div>
		</div>
	  </div>

	  <div class="col-sm-2 mb-4 mt-2">
		<label for="start_time">Start Time</label>
		<div class="input-group">
		  <input type="time" class="form-control" name="start_time" id="start_time" aria-describedby="inputGroupPrepend" required>
		  <div class="invalid-feedback">
			Please choose a start time.
		  </div>
		</div>
	  </div>

	  <div class="col-sm-2 mb-4 mt-2">
		<label for="end_time">End Time</label>
		<div class="input-group">
		  <input type="time" class="form-control" name="end_time" id="end_time" aria-describedby="inputGroupPrepend" required>
		  <div class="invalid-feedback">
			Please choose a end time.
		  </div>
		</div>
	  </div>

	  <div class="col-sm-3 mb-4 mt-2">
		<label for="event_type">Event Type</label>
		{{ form.event_type }}
		 <!-- add drop down -->

	<!--         <select id="event_type" name="event_type" class="form-control">
			<option value="canvass">Canvassing</option>
			<option value="phone">Phone Bank</option>
			<option value ="voter">Voter Registration</option>
			<option value ="meeting">Meeting</option>
			<option value ="fund">Fundraiser</option>
			<option value ="rally">Rally</option>
			<option value ="other">Other</option>
		  </select> -->
	  </div>
	  <div class="col-sm-12 mb-4 mt-2">
		<label for="event_description">Event Description</label>
		<div class="input-group">
		  <textarea class="form-control" name="event_description" id="event_description" placeholder="Describe the event" aria-describedby="inputGroupPrepend" required></textarea>
		  <div class="invalid-feedback">
			Please describe the event.
		  </div>
		</div>


	<div class="form-row">
	  <div class="col-sm-4 mb-4 mt-2">
		<label for="address">Event Address</label>
		<input type="text" class="form-control" id="address" name="address" placeholder="Street Address or Cross Streets" required>
		<div class="valid-feedback">
		  Looks good!
		</div>
	  </div>

	  <div class="col-sm-2 mb-4 mt-2">
		<label for="city">City</label>
		<input type="text" class="form-control" id="city" name="city" value="San Francisco" required>
		<div class="invalid-feedback">
		  Please provide a valid city.
		</div>
	  </div>
	  <div class="col-sm-1 mb-4 mt-2">
		<label for="state">State</label>
		<input type="text" class="form-control" id="state" name="state" value="CA" required>
		<div class="invalid-feedback">
		  Please provide a valid state.
		</div>
	  </div>
	  <div class="col-sm-2 mb-4 mt-2">
			<label for="zipcode">Zip</label>
			<input type="text" class="form-control" id="zipcode" name="zipcode" placeholder="Zip">
			<div class="invalid-feedback">
				Please provide a valid zip.
			</div>
	  </div>
	  <div class="col-sm-12 mb-4">
		<label for="url">Event Website</label>
		<div class="input-group">
		  <input type="text" class="form-control" id="url" name="url" placeholder="URL" aria-describedby="inputGroupPrepend" required></textarea>
		  <div class="invalid-feedback">
			Is there a link to the event?
		  </div>
		</div>
	</div>
	<input type="text" style="display: none" value="false" id="geocode_attempt" name="geocode_attempt">	
	</div>
	  <div class="form-row">
		  <div class="col-sm-2 mt-3">
	<button class="btn btn-primary" type="submit">Submit Event!</button>
	</div>

	</div>
	</form>
</div>
<script>
// Example starter JavaScript for disabling form submissions if there are invalid fields
(function() {
  'use strict';
  window.addEventListener('load', function() {
	// Fetch all the forms we want to apply custom Bootstrap validation styles to
	var forms = document.getElementsByClassName('needs-validation');
	// Loop over them and prevent submission
	var validation = Array.prototype.filter.call(forms, function(form) {
	  form.addEventListener('submit', function(event) {
		if (form.checkValidity() === false) {
		  event.preventDefault();
		  event.stopPropagation();
		}
		form.classList.add('was-validated');
	  }, false);
	});
  }, false);
})();
</script>


  <br>
		{% with messages = get_flashed_messages(with_categories=true) %}
			{% if messages %}

		{% for message in messages %}
			{% if "Error" not in message[1]: %}
				<div class="alert alert-info">
				<strong>Success! </strong> {{ message[1] }}
				</div>
			{% endif %}

			{% if "Error" in message[1]: %}
				<div class="alert alert-warning">
				{{ message[1] }}
				</div>
			{% endif %}
		{% endfor %}
			{% endif %}
		{% endwith %}

</div>
{% endblock %}
