{% extends "base.html" %}
{% block content %}


<title>Jane Map</title>

<link rel="shortcut icon" type="image/x-icon" href="docs/images/favicon.ico" />

<link rel="stylesheet" href="../static/css/leaflet.css"/>
<script src="../static/js/leaflet.js"></script>

<style>
	body { margin:0; padding:0; }
	#map { position:absolute; top:0; bottom:0; width:100%; }


.map-overlay {
	z-index: 9999;
    font: 10px/25px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    position: absolute;
    width: 300px;
    top: 0;
    right: 0;
    padding: 10px;
    opacity: 0.9;
}

.map-overlay .map-overlay-inner {
    background-color: #fff;
    box-shadow:0 1px 2px rgba(0, 0, 0, 0.10);
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 10px;
}

</style>


<div id="map"></div>

<div class='map-overlay top'>
	<div class='map-overlay-inner'>
		<p class="lead"><b style="font-size: 24px">Jane Map</b> 
			<br>Let's get started on electing a progressive mayor for San Francisco. <a href="/host">
			<br>
			<button type="button" class="btn btn-primary">Host an Event</button></a></p>
		<hr>
		{% for event in events %}
			<div class="card">
				<div class="card-header">
					{{event.full_address()}}
				</div>
				<div class="card-body">
					<h5 class="card-title">{{event.event_name}}</h5>
					<p class="card-text">{{event.host_name}}</p>
				</div>
			</div>
			<br>
		{% endfor %}



	</div>
</div>





<script>

	var mapCoords = [37.770715, -122.433421]
	var map = L.map('map').setView(mapCoords, 12);
	L.tileLayer('https://{s}.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png', {
		maxZoom: 19,
		attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>, Tiles courtesy of <a href="http://hot.openstreetmap.org/" target="_blank">Humanitarian OpenStreetMap Team</a>'
	}).addTo(map);


	function addMarker(markerData){
	// Add marker to map at click location; add popup window
		console.log(markerData.lat,markerData.lon);

		colors = {
			official: "#AF1E23",
			canvass:  'black',
			phone: 'black',
			voter: 'black',
			meeting: 'black',
			fund: 'black',
			rally: 'black',
			other: 'green'
		}

		markerOptions=
				{
                    radius: 5,
                    fillColor: colors[markerData.type],
                    color: "white",
                    weight: 1,
                    opacity: 1,
                    fillOpacity: 0.9
                }
        console.log(markerOptions)
		L.circleMarker([markerData.lat,markerData.lon],markerOptions).bindPopup("<b>"+markerData.name+"</b>").addTo(map);
	}
	var popup = L.popup();

	{% for event in events %}
		markerData ={
			lat: {{event.lat}},
			lon: {{event.lon}},
			name: "{{event.event_name}}",
			type: "{{event.event_type}}"
		}
		addMarker(markerData);
	{% endfor %}
</script>

{% endblock %}